<html>
    <head>
        <title>Django My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django My Blog</a></h1>
        </div>

        <div>
            <p>published: 24.09.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <h2>Владюся такой сайт можно сделать за один день, да осилит дорогу идущий!.</h2>
        </div>

        <div>
            <p>published: 24.09.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Очень хорошая подача материала по Django на сайте.-<a href="https://tutorial.djangogirls.org/ru/">tutorial.djangogirls.org/ru</a> </p> 
        </div>
    </body>
</html>